<link
    id="fa-stylesheet"
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css"
/>

<footer class="site-footer h-card">
    <data class="u-url" value="{{ '/' | relative_url }}"></data>
    <div
        class="wrapper"
        style="
            display: flex;
            justify-content: space-between;
            align-items: center;
        "
    >
        <div
            class="footer-left"
            style="display: flex; align-items: center; gap: 18px; flex: 1"
        >
            <img
                src="{{ site.web_logo_url | relative_url }}"
                alt="Ruby CWB Logo"
                style="height: 35px; margin-bottom: 0; border-radius: 8px"
            />
        </div>
        <div class="footer-right">
            <div
                class="social-links"
                style="display: flex; gap: 18px; align-items: center"
            >
                <!-- Github -->
                <a
                    href="https://github.com/{{ site.github_username }}"
                    target="_blank"
                    title="Github"
                    style="color: #24292e; font-size: 26px"
                >
                    <i class="fab fa-github"></i>
                </a>
                <!-- Meetup -->
                <a
                    href="https://www.meetup.com/{{ site.meetup_profile }}/"
                    target="_blank"
                    title="Meetup"
                    style="color: #24292e; font-size: 26px"
                >
                    <i class="fab fa-meetup"></i>
                </a>
                <!-- YouTube -->
                <a
                    href="https://www.youtube.com/@{{ site.youtube_channel }}"
                    target="_blank"
                    title="YouTube"
                    style="color: #24292e; font-size: 26px"
                >
                    <i class="fab fa-youtube"></i>
                </a>
                <!-- Telegram -->
                <a
                    href="https://t.me/{{ site.telegram_channel }}"
                    target="_blank"
                    title="Telegram"
                    style="color: #24292e; font-size: 26px"
                >
                    <i class="fab fa-telegram"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
